/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* TJG Manage Users Front End CSS */
 .plugin-header {
     background-color: #f5f5f5;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 3px 3px 0 0;
        color: #777;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
 }

 .plugin-header h1 {
        color: #555;
        font-size: 24px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding: 0;
 }

 .plugin-header p {
        color: #999;
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
 }

 .users-container {
        margin: 0 0 20px;
 }

 .agent-container {
        margin: 0 0 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;

 }

 .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 10px;
 }

 .agent-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 }

 .agent-info h2 {
        color: #555;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.5;
        margin: 0;
        padding: 0;
 }

 .agent-info p {
        color: #999;
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
 }

    .agent-info a {
            color: #0074a2;
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
    }

.action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px;
 }
 
.action-edit-button {
        background-color: #0074a2;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
 }

.action-delete-button {
        background-color: #c00;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
 }